body {
  background-color: #fef;
  margin: 0;
}

.font {
  font-family: 'Source Sans 3', sans-serif;
}

.info {
  font-size: 15px;
  text-align: center;
  font-weight: 100;
  color: #2f3030;
}

.center {
  display: flex;
  flex-direction: center;
  background-color: #fef;
}

.logo {
  margin: 30px auto;
  height: 40px;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 70px;
  text-align: center;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #2f3030;
  text-transform: uppercase;
  min-width: 200px;
  font-weight: 300;
  line-height: 45px;
}

.link:hover {
  color:#af5071;
}

.text {
  margin: auto 7%;
  font-size: 20px;
  font-weight: 200;
  color: #2f3030;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 300;
  color: #2f3030;
}

.marginTop {
  margin-top: 40px;
}

.footer {
  margin-top: 100px;
}

.banner {
  width: 100%;
}

.categoryBtn {
  padding: 15px;
}

.header {
  text-transform: uppercase;
  font-size: 30px;
}

.mailto_btn {
  border: none;
  background-color: transparent;
  color: #af5071;
  cursor: pointer;
}

.mailto_btn:hover {
  color: #ff0059;
}

.bold {
  font-weight: 500;
}

.slogan {
  margin-top: -25px;
  background-color: white;
}

.slogan h1 {
  margin-bottom: auto;
}

.slogan p {
  margin-top: 0;
  font-size: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 20px 50px;
  justify-content: space-around;

}
.item-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 30%;
  margin: 10px;

}

.item-card:hover{
  -webkit-box-shadow:0px 0px 30px 5px rgba(175,80,113,0.9);
  -moz-box-shadow: 0px 0px 30px 5px rgba(175,80,113,0.9);
  box-shadow: 0px 0px 30px 5px rgba(175,80,113,0.9);
}

.item-img {
  width: 100%;
  align-self: center;
}

.item-descr {
  font-size: 12px;
  margin: 10px;
  height: 40px;
}

.item-price {
  margin: 10px;
}

.btn-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categoryBtn {
  background-color: #59b;
  text-transform: uppercase;
  font-size: 12px;
  margin: 15px;
  padding:  5px 15px;
  color: #fef;
  border-radius: 20px;
  border: none;
}

.categoryBtn:hover {
  background-color: #af5071;

}

.allItemsBtn {
  background-color: #af5071;
  font-size: 14px;
  align-self: center;
}

.allItemsBtn:hover {
  background-color: #59b;
}

.centered {
  display: flex;
  justify-content: center;
}

.showTextBtn {
  background-color: transparent;
  border: none;
  font-weight: 400;
  color: #af5071;
}

.vsShowPic {
  width: 70%;
}

.sliderBtn {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  max-width: 100px;
}

.sliderArrow {
  width: 90%;
}

.sliderArrow:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

.showMoreBtn {
  background-color: #af5071;
  
  text-transform: uppercase;
  font-size: 14px;
  margin: 15px;
  padding:  5px 15px;
  color: #fef;
  border-radius: 20px;
  border: none;
}

.showMoreBtn:hover {
  background-color: #59b;
}

@media all and (max-width: 800px) {
  .item-card {
    width: 40%;
  }
}

@media all and (max-width: 600px) {
  .logo {
    width: 70%;
  }

  .text {
    font-size: 18px;
  }

  .item-card {
    width: 70%;
}

  .categoryBtn {
    margin: 6px;
  }

  .allItemsBtn {
    margin-top: 20px;
}

  .sliderBtn {
    margin: 0;
}

  .sliderArrow {
    width: 100%;
}
}


@media all and (max-width: 400px) {
  .logo {
    width: 90%;
  }
}